/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#labelOpcionSeleccionada{
	-fx-font-weight: 700;
	-fx-font-size: 18px;
	-fx-text-fill: #116ec1;
}

#borderPaneDatosPersonal{
	-fx-background-color:  #888888;
	 -fx-background-radius: 3 3 0 0;
  	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.7), 2, 0, 1, 1);
}

#borderPaneBusqueda{
	-fx-background-color:  #888888;
	 -fx-background-radius: 3 3 0 0;
  	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.7), 2, 0, 1, 1);
	
}

#scrollPaneDatosPersonal{
	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.5), 2, 0, 1, 1);
}

#borderPaneListaPersonal{
	-fx-background-color:  #888888;
	 -fx-background-radius: 3 3 0 0;
  	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.7), 2, 0, 1, 1);
	
}

#scrollPaneListaPersonal{
	-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.5), 2, 0, 1, 1);
	-fx-vbar-policy : never;
	-fx-hbar-policy : never;
}

#ButtonBuscar{ 
	-fx-background-color: transparent;
    -fx-background-image: url('buscar3.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
	
	

.labelInformacioncorrecto{
	-fx-font-family: "Arial";
	-fx-text-fill: #25b2f8;
	/*-fx-font-size: 17px;*/
   	 -fx-font-weight: bold;
	-fx-background-color: rgba(93, 194, 252 , 0.30);
	-fx-background-radius: 3 3 3 3;
	
}

.labelInformacionincorrecto{
	-fx-font-family: "Arial";
	/* -fx-font-size: 17px;*/
	 -fx-text-fill: #FF0000;
   	 -fx-font-weight: bold;
	-fx-background-color: rgba(250, 43, 43 , 0.30);
	-fx-background-radius: 3 3 3 3;	
}


#scrollPaneListaPersonal:hover{
	
	 -fx-vbar-policy : as_needed;
}

#ButtonModificar{
	-fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
	-fx-background-color: #2196F3;
	-fx-text-fill: #FFFFFF;	
	
}

#ButtonEliminar{
	-fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
	-fx-background-color: f44336;
	-fx-text-fill: #FFFFFF;
}
#ButtonEliminar:hover{
		-fx-cursor: hand;
		-fx-background-color: #da190b;
}
#ButtonModificar:hover{
	-fx-cursor: hand; 
	-fx-background-color: #0b7dda
}



