/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#scrollPaneGraficaProvincia{

		 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.5), 2, 0, 1, 1);
	
}

#labelOpcionSeleccionada{
	-fx-font-weight: 700;
	-fx-font-size: 18px;
	-fx-text-fill: #116ec1;
}

#borderPaneDatosPersonal{
	-fx-background-color:  #116ec1;
	 -fx-background-radius: 3 3 0 0;
  	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.7), 2, 0, 1, 1);
}

#borderPaneBusqueda{
	-fx-background-color:  #116ec1;
	 -fx-background-radius: 3 3 0 0;
  	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.7), 2, 0, 1, 1);
	
}

#scrollPaneDatosPersonal{
	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.5), 2, 0, 1, 1);
}

#borderPaneListaPersonal{
	-fx-background-color:  #116ec1;
	 -fx-background-radius: 3 3 0 0;
  	 -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.7), 2, 0, 1, 1);
	
}

#scrollPaneListaPersonal{
	-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0.0,0.5), 2, 0, 1, 1);
	-fx-vbar-policy : never;
	-fx-hbar-policy : never;
}

#ButtonBuscar{ 
	-fx-background-color: transparent;
    -fx-background-image: url('buscar3.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
	


#scrollPaneListaPersonal:hover{
	
	 -fx-vbar-policy : as_needed;
}

#ButtonModificar{
	-fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
	-fx-background-color: #2196F3;
	-fx-text-fill: #FFFFFF;	
	
}

#ButtonEliminar{
	-fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
	-fx-background-color: f44336;
	-fx-text-fill: #FFFFFF;
}
#ButtonEliminar:hover{
		-fx-cursor: hand;
		-fx-background-color: #da190b;
}
#ButtonModificar:hover{
	-fx-cursor: hand; 
	-fx-background-color: #0b7dda
}

#jFXButtonNuevoRegistro{
	-fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
	-fx-background-color: #2196F3;
	-fx-text-fill: #FFFFFF;	
}
#jFXButtonNuevoRegistro:hover{
	-fx-cursor: hand; 
	-fx-background-color: #0b7dda
}



.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 0, 0, 0, 0;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}


